<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>version</key>
    <string>1.0.0</string>
    <key>warning</key>
    <string>请不要修改这个文件中的内容</string>
    <key>project</key>
    <dict>
      <key>projectId</key>
      <integer>104844</integer>
    </dict>
    <key>application</key>
    <dict>
      <key>appId</key>
      <integer>104336</integer>
      <key>packageId</key>
      <string>io.tokenmama.TimeBank</string>
    </dict>
    <key>services</key>
    <dict>
      <key>analytics</key>
      <dict>
        <key>appKey</key>
        <string>Iqcloud104336</string>
      </dict>
      <key>messaging</key>
      <dict>
        <key>appId</key>
        <string>2200311250</string>
        <key>appKey</key>
        <string>I5D1I9DJN16D</string>
      </dict>
      <key>crash</key>
      <dict>
        <key>appId</key>
        <string>b506c5a41c</string>
      </dict>
      <key>payment</key>
      <dict>
        <key>offerId</key>
        <string/>
      </dict>
      <key>storage</key>
      <dict>
        <key>bucket</key>
        <string>tac-timebank-st-1257629435</string>
        <key>region</key>
        <string>ap-beijing</string>
      </dict>
    </dict>
  </dict>
</plist>